@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Orbitron', sans-serif !important;
}